body {
  font-family: 'Poppins', sans-serif;
  background: black;
  margin: 0;
  padding: 0;
  
}


header {
  background: #000;
  color: #fff;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}



header nav a {
  color: #fff;
  margin-left: 1.5rem;
  text-decoration: none;
  font-size: 20px;
}

header nav a:hover {
  text-decoration: underline;
}

.img-logo{
    padding-bottom: 15px;
}

.menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
  z-index: 1001;
  position: fixed;
  top: 20px;
  right: 20px;
  background: #000;
  padding: 10px;
  border-radius: 8px;
}

.menu span {
  height: 3px;
  width: 25px;
  background: white;
  margin-bottom: 5px;
  border-radius: 5px;
  transition: 0.3s;
}


@media (min-width: 769px) {
  .nav-list li {
    display: none; 
  }

  .menu {
    display: none;
  }
}


@media (max-width: 768px) {
  .nav-list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #000;
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 40%; 
    transition: right 0.4s ease-in-out;
    z-index: 1000;
    padding-top: 5rem;
  }

  .nav-list.open {
    right: 0;
  }

  .nav-list li {
    margin: 1.5rem 0;
  }

  .menu {
    display: flex;
  }

  .menu.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .menu.active span:nth-child(2) {
    opacity: 0;
  }

  .menu.active span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
  }

  body.menu-open::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(3px);
    z-index: 999;
  }
}

 .conta-container {
    max-width: 700px;
    margin: 3rem auto;
    padding: 2rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fafafa;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  }


 .foto-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }

  .foto-perfil img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid black;
  }

  .foto-perfil input[type="file"] {
    margin-top: 1rem;
  }

  .msg {
    text-align: center;
    color: green;
    margin-bottom: 1rem;
  }

  .conta-info p {
    margin: 10px 0;
  }

  .conta-actions {
    text-align: center;
    margin-top: 2rem;
  }

  .conta-actions a {
    display: inline-block;
    margin: 0.5rem;
    padding: 0.7rem 1.5rem;
    background-color: black;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    transition: background 0.3s;
  }

  .conta-actions a:hover {
    background-color: rgb(65, 65, 65);
  }

  footer {
  background: black;
  color: #fff;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}